<nav class="navbar sticky-top shadow navbar-expand-md navbar-light bg-light">
  <a class="mr-auto px-3 navbar-header logo" href="/">
    <img
        src="/images/logo.svg"
        class="align-self-center mr-3 title-img"
        alt="..."
      />
      <div class="media-body">{{.Site.Title}}</div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {{ range .Site.Menus.main }}
      <li class="nav-item active">
        <a class="nav-link" href="{{ .URL }}">
          {{ .Name }}
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {{end}}
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>