<nav class="navbar sticky-top shadow navbar-expand-lg navbar-light bg-light">
  <a class="col-md-3 col-lg-2 mr-0 px-3" href="/">
    <div class="logo">
      <img src="/images/logo.svg" class="align-self-center mr-3 title-img" alt="..." />
      <div class="media-body">
        {{.Site.Title}}
      </div>
    </div>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{ range .Site.Menus.main }}
      <li class="nav-item active">
        <a class="nav-link" href="{{ .URL }}"
          >{{ .Name }} <span class="sr-only">(current)</span></a
        >
      </li>
      {{end}}
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
  </div>
</nav>
